*{
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
}

/* ===========
  Navigation Bar
=========== */
nav{
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

label.logo {
    font-size: 35px;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transition: background-color 0.3s ease;
}

nav a:hover{
    background-color: #eaeaea;
}

nav li:first-child{
    margin-right: auto;
}