*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*==============
  Container Section
  ==============*/

#phone{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  width: 300px;
  height: 567px;
  background-color: black;
  border-radius: 35px;
}

#brove{
  width: 175px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 20px 20px;
  background-color: black;
}

#speaker, #dock{
  width: 90px;
  height: 5px;
  background-color: #656565;
  display: block;
  margin: auto;
  margin-top: 8px;
  border-radius: 20px;
}

#dock{
  background-color: rgb(225, 225, 225);
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 8px;
}

#phone-screen{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 555px;
  background-color: rgb(1, 23, 42);
  border-radius: 30px;
}
#button-container{
  display: flex;
  flex-direction: column;
  border: 2px solid firebrick;
  gap: 12px;
  
}
  
.calculator{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: gray;
  width: 70px;
  height: 150px;
}

/*==============
  Display Section
  ==============*/

.display{
  display: flex;
  background-color: white;
  width: 60px;
  height: 45px;
} 

#primary-display{
  width: 200px; /* Adjust the width to your preference */
  border: 1px solid #ccc;
  overflow: auto; /* or scroll, hidden, etc. based on your preference */
  white-space: normal;
  word-wrap: break-word;
}

/*==============
  Button Section
  ==============*/

.btn{
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: none;

  -webkit-appearance: none;
  -webkit-user-select: none;
}

#zero-row-span{
  width: 125px;
  height: 60px;
}

/*==============
  Footer Section
  ==============*/

footer{
  position: fixed;
  height: auto;
  width: 100vw;
  bottom: 0;
  left: 0;
  z-index: 10;
  text-align: center;
}