* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*==============
  Container Section
  ==============*/

#phone {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -50%;
  transform: translateY(20%);
  margin: auto;
  width: 281.25px;
  height: 609px;
  background-color: black;
  border-radius: 60px;
}

#brove {
  width: 145px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 20px 20px;
  background-color: black;
}

#speaker,
#dock {
  width: 45px;
  height: 5px;
  background-color: #222222;
  display: block;
  margin: auto;
  margin-top: 10px;
  border-radius: 20px;
}

#dock {
  background-color: rgb(225, 225, 225);
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
  width: 110px;
}

#phone-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 595px;
  background-color: rgb(22, 22, 22);
  border-radius: 50px;
}

#button-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 50px;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: gray;
  width: 70px;
  height: 150px;
}

/*==============
  Display Section
  ==============*/

.display {
  display: flex;
  position: absolute;
  top: 110px;
  right: 15px;
  transform: translateY(100%);
}

#primary-display {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  color: #fffefe;
  width: 255px;
  overflow: auto;
  white-space: normal;
  word-wrap: break-word;
}

#second-display {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  position: absolute;
  top: -20px;
  left: 253px;
  transform: translateY(100%);
  transform: translateX(-100%);
  color: #5c5c5c;
  width: 255px;
  overflow: auto;
  white-space: normal;
  word-wrap: break-word;
}

/*==============
  Button Section
  ==============*/

.btn {
  font-family: Arial, Helvetica, sans-serif;
  width: 55px;
  height: 55px;
  border-radius: 50px;
  font-size: 25px;
  border: none;
  transition: background-color 0.3s ease;

  -webkit-appearance: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.digit:hover {
  background-color: #737272;
}

.operand:hover,
#equal-button:hover {
  background-color: #fac489;
}

.utility:hover {
  background-color: #d8d8d8;
}

#zero-row-span {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 122px;
  height: 55px;
}

#button-row-one,
#button-row-two,
#button-row-three,
#button-row-four,
#button-row-five{
  display: flex;
  gap: 12px;
}

.utility{
  background-color: #a4a5a4;
  color: black;
}

.digit{
  background-color: #323233;
  color: #fffefe;
}

.operand{
  background-color: #fe9901;
  color: #fffefe;
  font-size: 30px;
}

#equal-button {
  background-color: #fe9901;
  color: #fffefe;
  font-size: 30px;
}

#addition.hovered,
#subtraction.hovered,
#multiplication.hovered,
#division.hovered{
  background-color: #ffffff;
  color: #fe9e0a;
  transition: background-color 0.3s ease;
}

/*==============
  Footer Section
  ==============*/

footer {
  position: fixed;
  height: auto;
  width: 100vw;
  bottom: 0;
  left: 0;
  z-index: 10;
  text-align: center;
}
